<div class="flex-container">
  <section>
    <pre>{{s1}}</pre>
    <div>
      <action-spinner></action-spinner>
    </div>
    <div>
      <action-spinner size="2"></action-spinner>
    </div>
  </section>
  <section>
    <pre>{{s2}}</pre>
    <div style="background-color: purple; color: white;">
      <action-spinner size="9"></action-spinner>
    </div>
  </section>

  <section>
    <pre>{{s3}}</pre>
    <div style="background-color: black; color:gold;">
      <loading-bar>Loading...</loading-bar>
    </div>
    <div>
      <loading-bar size="1.5">Loading...</loading-bar>
    </div>
  </section>

  <section>
    <pre>{{s4}}</pre>
    <div style="color:red;">
      <loading-bar size="2">
        <span style="font-size:2rem;">Validating ...</span>
      </loading-bar>
    </div>
  </section>

  <section>
    <pre>{{s5}}</pre>
    <h1>Title1
      <action-spinner size="1.5"></action-spinner>
    </h1>
    <h2>Title2
      <action-spinner size="1.25"></action-spinner>
    </h2>
    <h3>Title3
      <action-spinner></action-spinner>
    </h3>
  </section>

  <section>
    <pre>{{s6}}</pre>
    <button type="button" class="btn btn-primary">Submit
      <action-spinner></action-spinner>
    </button>
    <button type="button" class="btn ">
      <loading-bar>Uploading...</loading-bar>
    </button>
    <button type="button" class="btn btn-primary">
      <loading-bar>Uploading...</loading-bar>
    </button>
  </section>

  <section>
    <pre>{{s7}}</pre>
    <uiowa-ring></uiowa-ring>
    <uiowa-ring size="2"></uiowa-ring>
  </section>

  <section>
    <pre>{{s7}}</pre>
    <div style="background-color: #01abff; color: white;">
      <uiowa-ring></uiowa-ring>
      <uiowa-ring size="2"></uiowa-ring>
    </div>
  </section>

</div>
